In [1]:
import pandas as pd

# 버스정류장

In [7]:
bus_stop = pd.read_csv('../new_data/교통시설/국토교통부_전국 버스정류장 위치정보_20231016.csv', encoding='cp949')
bus = bus_stop.loc[bus_stop['도시명'].str.contains('평택')][['정류장명','위도','경도']]

In [14]:
bus

                       정류장명         위도          경도
65641          동문굿모닝힐맘시티4단지  37.025533  127.106767
65642  파라곤에듀포레.제일풍경채2차에듀(중)  37.040533  127.024350
65643              서정동주공3단지  37.060583  127.057783
65644             서정동주공3단지앞  37.060750  127.057783
65645              센트럴자이1단지  37.016217  127.100317
...                     ...        ...         ...
98972               군문동(경유)  36.984150  127.090100
98987              평택TG(경유)  37.032267  126.977317
98988              평택TG(경유)  37.032667  126.978033
99683         비전지하차도사거리(경유)  36.987833  127.116367
99690             평택터미널(경유)  36.982017  127.094767

[1948 rows x 3 columns]

# 역

In [12]:
station = pd.read_excel('../new_data/교통시설/전체_도시철도역사정보_20240630.xlsx')
train = station.loc[station['역사도로명주소'].str.contains('평택시')][['역사명','역사도로명주소','역위도','역경도']].rename(columns={'역사도로명주소':'주소','역위도':'위도','역경도':'경도'})

In [13]:
train

       역사명                    주소         위도          경도
294    진위역     경기도 평택시 경기대로 1855  37.109771  127.062342
295    송탄역  경기도 평택시 신장동 송탄공원로 43  37.075376  127.054397
296  평택지제역      경기도 평택시 경기대로 777  37.018822  127.070269
297   서정리역        경기도 평택시 탄현로 51  37.056459  127.052844
298    평택역        경기도 평택시 평택로 51  36.990559  127.085496

In [15]:
bus.to_csv('../preprocessed/교통시설/버스정류장.csv', index=False)
train.to_csv('../preprocessed/교통시설/역.csv', index=False)