In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [3]:
df = pd.read_csv('../new_data/가격지수/408_DT_40803_N0001_20240913173949.csv', encoding='cp949')

In [4]:
pt_price_index = df.loc[(df['지역별'] == '평택') & (df['주택유형별'] == '아파트')].drop(columns=['항목','주택유형별','지역별','단위','Unnamed: 40'])

In [5]:
pt_price_index

,2021.08 월,2021.09 월,2021.10 월,2021.11 월,2021.12 월,2022.01 월,2022.02 월,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,2023.03 월,2023.04 월,2023.05 월,2023.06 월,2023.07 월,2023.08 월,2023.09 월,2023.10 월,2023.11 월,2023.12 월,2024.01 월,2024.02 월,2024.03 월,2024.04 월,2024.05 월,2024.06 월,2024.07 월
305,106.216457,108.847983,111.700174,113.167996,114.11714,114.25749,114.258245,114.357449,115.069836,115.164913,115.468089,115.492892,114.880455,114.095572,112.858859,111.396844,109.105567,106.483977,103.94912,102.966187,102.754328,102.700059,102.851038,103.146044,103.30351,103.850246,104.400777,104.257992,103.878813,103.448067,103.458493,103.117434,102.79481,102.394158,101.913922,101.739064

In [8]:
def rename_column(col_name):
    return col_name.replace('.', '').replace(' 월', '')

# 열 이름 변경 적용
pt_price_index.columns = [rename_column(col) for col in pt_price_index.columns]

print(pt_price_index.columns)

Index(['202108', '202109', '202110', '202111', '202112', '202201', '202202',
       '202203', '202204', '202205', '202206', '202207', '202208', '202209',
       '202210', '202211', '202212', '202301', '202302', '202303', '202304',
       '202305', '202306', '202307', '202308', '202309', '202310', '202311',
       '202312', '202401', '202402', '202403', '202404', '202405', '202406',
       '202407'],
      dtype='object')

In [10]:
pt_price_index.to_csv('../preprocessed/가격지수/price_index.csv', index=False)